* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(12, 7, 39);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  padding: 2rem;
  text-align: center;
}

h1 {
  margin-bottom: 2rem;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.days {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
}

.day {
  flex: 1 0 20rem;
  border: 2px solid rgba(63, 8, 45, 0.527);
  border-radius: 8px;
  max-width: 20rem;
  padding: 1rem;
  scroll-snap-align: start;
  background-color: rgb(255, 255, 255);
}

h2 {
  border-bottom: 1px solid black;
  margin-bottom: 2rem;
  padding-bottom: 0.5rem;
}

.day > button {
  margin-top: 2rem;
}

button {
  background-color: rgb(172, 255, 47);
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  padding: 0.25rem 0.75rem;
  position: relative;
  left: 0;
  transition: 0.3s;
}

button:hover {
  transition: 0.3s;
  cursor: pointer;
  left: 0.25rem;
  background-color: rgb(56, 56, 219);
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;
}

li + li {
  margin-top: 5rem;
}

label {
  margin-bottom: 0.5rem;
  text-overflow: clip;
}

.done label {
  color: rgb(228, 0, 0);
  text-decoration: line-through;
  font-style: italic;
}

li > button {
  background-color: rgba(255, 0, 0, 0.322);
  color: #fff;
}

li > button:hover {
  background-color: rgb(255, 0, 0);
  color: #fff;
}
